
input[type=number] {-moz-appearance: textfield;}

body {
        padding-top: 70px;
        /* Required padding for .navbar-fixed-top. Remove if using .navbar-static-top. Change if height of navigation changes. */
    }
.container {
	font-size: 18px;
}

.choice_form {
	text-align: left;
}

#neutral_decays_form{
	text-align: left;
}

#eventtype{
	font-size: 300%;
}

#charged_tracks_form{
	margin-bottom: 2em;
}

#charged_tracks_form  input {
	max-width: 3em;
}

h1 {
	font-size: 350%;
}

label{
	width: 100%;
}


#event_number_input_group{
	max-width: 30em;
	margin: 0 auto 2em auto;
}

#event_type_explained{
	margin: 1em 0 5em 0;
	align: left;
}

table td, table td * {
    vertical-align: top;
    text-align: left;
}

td {
	padding: 0.5em 1em;
}