{% extends "resolver/base.html" %}

{% block content %}
        <h1>LHCb Event Type Builder</h1>

        <p class="lead">Results:<br>
            <div id="eventtype">
                {% if request.GET.g_flag %} {{ request.GET.g_flag }} {% else %} X {% endif %}
                {% if request.GET.s_flag %} {{ request.GET.s_flag }} {% else %} X {% endif %}
                {% if request.GET.d_flag %} {{ request.GET.d_flag }} {% else %} X {% endif %}
                {% if request.GET.c_flag %} {{ request.GET.c_flag }} {% else %} X {% endif %}
                {% if request.GET.t_flag %} {{ request.GET.t_flag }} {% else %} X {% endif %}
                {% if request.GET.n_flag %} {{ request.GET.n_flag }} {% else %} X {% endif %}
                {% if request.GET.x_flag %} {{ request.GET.x_flag }} {% else %} X {% endif %}
                {% if request.GET.u_flag %} {{ request.GET.u_flag }} {% else %} X {% endif %}
            </div>
        </p>
        {% block question %}
        {% endblock %}

      
{% endblock %}