{% extends "resolver/base.html" %}

{% block content %}
        <h1>LHCb Event Type Builder</h1>

        <p class="lead">Result:<br>
            <div id="eventtype">
                {% if request_get.g_flag %} {{ request_get.g_flag }} {% else %} X {% endif %}
                {% if request_get.s_flag %} {{ request_get.s_flag }} {% else %} X {% endif %}
                {% if request_get.d_flag %} {{ request_get.d_flag }} {% else %} X {% endif %}
                {% if request_get.c_flag %} {{ request_get.c_flag }} {% else %} X {% endif %}
                {% if request_get.t_flag %} {{ request_get.t_flag }} {% else %} X {% endif %}
                {% if request_get.n_flag %} {{ request_get.n_flag }} {% else %} X {% endif %}
                {% if request_get.x_flag %} {{ request_get.x_flag }} {% else %} X {% endif %}
                {% if request_get.u_flag %} {{ request_get.u_flag }} {% else %} X {% endif %}
            </div>
        </p>
        {% block question %}
        {% endblock %}

      
{% endblock %}