{% extends "builder/builder.html" %}

{% block question %}
        
        <p class="lead">
            You have reached the end of this wizard.<br>
            Parts of the event number that could not be determined are marked with X.<br>
            The last two digits are rarely defined and can be set by the user.<br>
        </p>
        <p class="lead"> 
            If you're wondering which event types are taken, maybe the <a href="http://lhcb-release-area.web.cern.ch/LHCb-release-area/DOC/decfiles/">list of all LHCb DECFILES with corresponding event type</a> can help. </p>
        <p class="lead"> 
            If you think that the wizard could do better, or if you found a bug, <a href="https://github.com/e5-tu-do/eventtype/issues"> open an issue on Github.</a>
        </p>

        <div class="panel panel-warning">
          <div class="panel-heading">
            <h3 class="panel-title">Disclaimer: Use at your own risk.</h3>
          </div>
          <div class="panel-body">
            This online tool aims to implement the specification in <a href="https://cds.cern.ch/record/855452?ln=en"> the event type numbering reference </a>.
            However, there are particular cases that are not described in the note - or are not covered yet and where only the LHCb Gauss Managers can make a decision.
            Also, implementation mistakes are to be expected at any level.
          </div>
        </div>


      
{% endblock %}