{% extends "builder/builder.html" %}

{% block question %}
        
        <p class="lead">
            You have reached the end of this wizard.<br>
            Parts of the event number that could not be determined are marked with X.<br>
            The last two digits are rarely defined and can be set by the user.<br>
        </p>
        <p class="lead"> 
            If you're wondering which event types are taken, maybe the <a href="https://lhcb-release-area.web.cern.ch/LHCb-release-area/DOC/decfiles/releases/latest/table_evttype.php">list of all LHCb DECFILES with corresponding event type can help.</a> </p>
        <p class="lead"> 
            If you think that the wizard could do better, or if you found a bug, <a href="https://github.com/KonstantinSchubert/eventtype/issues"> open an issue on Github.</a>
        </p>

        <p class="lead"> Use at your own risk. For reference, <a href="https://cds.cern.ch/record/855452?ln=en">check the event type numbering reference</a>. </p>

      
{% endblock %}