{% extends "builder/builder.html" %}

{% block question %}
        
        <p class="lead"> Enter the value of the momentum of the particle (in GeV,rounded up)</p> 



        <form id="momentum_form">
        	<div class="input-group">
	            <input type="number" class="form-control" name="t_flag" step=1 max=9999 placeholder="max 4 digits"  title="Integer between 0 and 9999.">
	            <span class="input-group-addon">GeV</span>
                <span class="input-group-btn">
	            	<button type="submit" class="btn btn-primary">Submit</button>
	            </span>
	            {% for keyval in get_dict %}
	                <input type="hidden" name="{{keyval.0}}" value="{{keyval.1}}">
	                <input type="hidden" name="t_flag" value="T">
	                <input type="hidden" name="n_flag" value="O">
	                <input type="hidden" name="x_flag" value="D">
	                <input type="hidden" name="u_flag" value="O">
	            {% endfor %}
        </form>

      
{% endblock %}



{% block end %}
    <script>
        $(function() {
            $("form").submit(function() {
             TODO!!!
            });
        });
    </script>
{% endblock %}