{% extends "resolver/base.html" %}

{% block content %}
        <h1>LHCb Event Type Resolver</h1>

	<p class="lead"> Online tool to help ease the confusion that comes with LHCb event type. The goal is to provide both a tool that deciphers the meaning of a given event type and a wizard that helps find the correct event type of a decay. The former of which can be tested, the latter is still a concept only.</p>
	<p class="lead"> <a href="https://github.com/KonstantinSchubert/eventtype">Clone me on Github :)</a></p>
        <p class="lead"> Written by <a href="http://boosted.science">Konstantin Schubert</a></p>


      
{% endblock %}
