{% extends "resolver/base.html" %}



{% block content %}
        <h1>LHCb Event Type Explainer</h1>

    <p class="lead"> Online tool to help ease the confusion that comes with LHCb event type.</p>

    <p class="lead">The goal is to provide both 
    <ul>
        <li> a tool that deciphers the meaning of a given event type</li> 
        <li> and a wizard that helps find the correct event type of a decay.</li>
    </ul>
    The software is provided without any promise of correctness. Please report any bugs you find on <a href="https://github.com/KonstantinSchubert/eventtype"> Github :)</a></p>
        <p class="lead"> Written by <a href="http://boosted.science">Konstantin Schubert</a></p>


      
{% endblock %}
