{% extends "resolver/base.html" %}

{% block content %}
        <h1>LHCb Event Type</h1>

    <div class="jumbotron">
        <h2>Event type builder</h2>

        <p class="lead">Use the wizard to find the right event type number for a decay.</p>

        <a href="/build/"><button class="btn btn-primary btn-lg">Start >> </button></a>

        
    </div>

    <div class="jumbotron">
        <h2>Event type resolver</h2>

        <p class="lead">Enter an 8-digit event type number and have the meaning of the numbers explained to you!</p>

        <form action="resolve/" >
            <div class="input-group" id="event_number_input_group">
                <span class="input-group-addon" id="basic-addon1">Event type: </span>
                <input type="text" class="form-control" pattern="[0-9]{8}" placeholder="8 digits" name="event_number_input" title="Must be an 8 digit integer.">
                <span class="input-group-btn">
                    <button class="btn btn-primary" type="submit">Resolve it!</button>
                </span>
            </div>
        </form>
    </div>


       <div class="panel panel-warning">
          <div class="panel-heading">
            <h3 class="panel-title">Disclaimer: Use at your own risk.</h3>
          </div>
          <div class="panel-body">
            This online tool aims to implement the specification in <a href="https://cds.cern.ch/record/855452?ln=en"> the event type numbering reference </a>.
            However, there are particular cases that are not described in the note - or are not covered yet and where only the LHCb Gauss Managers can make a decision.
            Also, implementation mistakes are to be expected at any level.
          </div>
        </div>


      
{% endblock %}