{% extends "resolver/base.html" %}

{% block content %}
        <h1>LHCb Event Type</h1>
    <div class="jumbotron">
        <h2>Event type resolver</h2>

        <p class="lead">Enter an 8-digit event type number and have the meaning of the numbers explained to you!</p>

        <form action="resolve/" >
            <div class="input-group" id="event_number_input_group">
                <span class="input-group-addon" id="basic-addon1">Event type: </span>
                <input type="text" class="form-control" pattern="[0-9]{8}" placeholder="8 digits" name="event_number_input" title="Must be an 8 digit integer.">
                <span class="input-group-btn">
                    <button class="btn btn-primary" type="submit">Resolve it!</button>
                </span>
            </div>
        </form>
    </div>

    <div class="jumbotron">
        <h2>Event type builder</h2>

        <p class="lead">Use the wizard to find the right event number for a decay.</p>

        <a href="/build/"><button class="btn btn-primary btn-lg">Start >> </button></a>

        
    </div>

      
{% endblock %}