{% extends "resolver/base.html" %}



{% block content %}
        <h1>LHCb Event Type Number Resolver</h1>


        <p class="lead">Enter an 8-digit event type number and have the meaning of the numbers explained to you!</p>

        <form action="resolve/" >
            <div class="input-group" id="event_number_input_group">
                <span class="input-group-addon" id="basic-addon1">Event type:</span>
                <input 
                    type="text" 
                    class="form-control" 
                    pattern="[0-9]{8}" 
                    placeholder="8 digits" 
                    name="event_number_input" 
                    title="Must be an 8 digit integer." 
                    {%if has_event_number %} value="{{ event_number }}" {%endif%} 
                >
                <span class="input-group-btn">
                    <button class="btn btn-primary" type="submit">{%if has_event_number %}Update{% else %}Resolve it!{% endif %}</button>
                </span>
            </div>
        </form>
    
    {%if has_event_number %}
        <h2> Event number explanation: </h2>
        <table id="event_type_explained">
            <thead>
                <tr>
                    <th>Flag name</th>
                    <th>Value</th>
                    <th>Explanation</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td >general flag</td>
                    <td>{{ g.flag}}</td>
                    <td>{{ g.meaning }}</td>
                </tr>
                <tr>
                    <td>selection flag</td>
                    <td>{{ s.flag}}</td>
                    <td>{{ s.meaning }}</td>
                </tr>
                <tr>
                    <td>decay flag</td>
                    <td>{{ d.flag}}</td>
                    <td>{{ d.meaning }}</td>
                </tr>
                <tr>
                    <td>charm/lepton content flag</td>
                    <td>{{ c.flag}}</td>
                    <td>{{ c.meaning }}</td>
                </tr>
                <tr>
                    <td>track flag</td>
                    <td>{{ t.flag}}</td>
                    <td>{{ t.meaning }}</td>
                </tr>
                <tr>
                    <td>neutral decay flag</td>
                    <td>{{ n.flag}}</td>
                    <td>{{ n.meaning }}</td>
                </tr>
                <tr>
                    <td>extra flag</td>
                    <td>{{ x.flag}}</td>
                    <td>{{ x.meaning }}</td>
                </tr>
                <tr>
                    <td>user flag</td>
                    <td>{{ u.flag}}</td>
                    <td>{{ u.meaning }}</td>
                </tr>
            <tbody/>
        </table>
        <p class="lead">  <a href="http://lhcb-release-area.web.cern.ch/LHCb-release-area/DOC/decfiles/">List of all existing LHCb DECFILES with corresponding event type.</a> </p>
    {% endif %}

    <div class="panel panel-warning">
          <div class="panel-heading">
            <h3 class="panel-title">Disclaimer: Use at your own risk.</h3>
          </div>
          <div class="panel-body">
            This online tool aims to implement the specification in <a href="https://cds.cern.ch/record/855452?ln=en"> the event type numbering reference </a>.
            However, there are particular cases that are not described in the note - or are not covered yet and where only the LHCb Gauss Managers can make a decision.
            Also, implementation mistakes are to be expected at any level.
          </div>
        </div>

      
{% endblock %}